.sarch-bar {
  width: 500px;
}
.suggestion {
  display: flex;
}
.food-images {
  border-radius: 15px;
}
/* Card hover and Sizing */
.card-div {
  transition: transform 0.5s;
}
.card-div:hover {
  transform: scale(1.2);
}
.card-img-hover {
  height: 100%;
  width: 250px;
  overflow: hidden;
}
